# Env configs
FASTAPI_ENV=dev
BASE_URL=http://localhost:5173

# PostgreSQL DB
DB_NAME=travel_flow
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Auth (generate a secret: python -c "import secrets; print(secrets.token_urlsafe(48))")
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
